arrow==0.7.0
beautifulsoup4==4.4.1
certifi==2017.4.17
chardet==3.0.4
disqus==0.0.4
Django==1.8.9
django-emoticons==1.1.2
django-forms-bootstrap==3.0.1
django-paypal==0.3.6
django-tinymce==2.2.0
idna==2.5
Pillow==3.1.1
python-dateutil==2.4.2
pytz==2017.2
requests==2.18.1
six==1.10.0
stripe==1.61.0
urllib3==1.21.1